<div class="main">
  <div class="canvascontainer">
    <h1>Kokus</h1>
  </div>
  <section class="about">
    <h1>What's Kokus ?</h1>
    <p>Bullshit ipsum</p>
    <div class="button">See it live !</div>
  </section>
  <section class="how">
    <h1>How it works ?</h1>
    <p>Bullshit ipsum</p>
    <div class="button">Want to know more ?</div>
  </section>
  <section class="register">
    <h1>Want your own ?</h1>
    <p>Register now and we'll notice you when Kokus is released :)</p>
    <form novalidate>
      <input type="mail" placeholder="your.awesome@mail.com" ng-model="mail">
      <input type="submit" value="Register" ng-click="registerMail(mail)">
    </form>
  </section>
</div>