.demo {
    .button {
        position: absolute;
        left: 0;
        min-width: 170px;
        width: auto;
        &:nth-child(1) {
            top: 130px;
            background: navy;
            height: 0px !important;
        }
        &:nth-child(2) {
            top: 190px;
            background: forestgreen;
        }
        &:nth-child(3) {
            top: 220px;
            background: purple;
        }
        &:nth-child(4) {
            top: 250px;
            background: #53371f;
        }
        &:nth-child(5) {
            top: 280px;
            background-color: darkred;
        }
        text-transform: none;
    }
}

.live footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}