<div class="contact-content container">
  <div class="row">
    <h1>Leave us a note !</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="message.mail" ng-class="state">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" ng-model="message.content"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
      <div class="row">
        <div class="s12 btn-holder">
          <button class="waves-effect waves-light btn" ng-click="sendMessage(message)">Send</button>
        </div>
      </div>
      <div class="row">
        <div class="s12">
          <p>{{sendState}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
